button {
    transition-duration: 0.2s;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:active {
    box-shadow: 5px 5px 10px #888888;
}
.button1 {
   border-radius: 5px;
   padding: 15px 30px;
   border: 2px solid #634caf;
}
.button2 {
   border-radius: 5px;
   padding: 15px 30px;
   border: 2px solid #4caf50;
}
button:active {
    box-shadow: 5px 5px 10px #888888;
}


.button1:hover {
    background-color: #634caf; /* Green */
    color: white;
}
.button2:hover {
    background-color: #4caf50; /* Green */
    color: white;
}
.notSelect {
    user-select: none;
}

div.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.card-notify {
    text-align: left;
}
